*.pyc
*.o
*.dSYM
*.pgm
*.out
*.png
*.jpg
*.JPG
*.pyc
*.mp4
*.mov
*.sift

*.pid
*.sqlite3
*.log
*.sup
*.bak
*.tmproj
.tmp
.sass-cache
.projectile
.mypy_cache

dump.rdb
.project
.projectile
.installed.cfg
.ropeproject/
bin/
develop-eggs/
guone.egg-info/
parts/
eggs/
gen-py/
log/

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
