{% extends "base.html"%}

{%block head%}
    {{super()}}
{%endblock%}

{%block styles%}
    {{super()}}
    <link href="{{url_for('static',filename='css/main16.css')}}" rel="stylesheet" type="text/css">
{%endblock%}

{%block scripts%}
    {{super()}}
    <script type="text/javascript">
    function intro(){
      document.getElementById("intro_mode_1").scrollIntoView();
    }
    var mode_1 = intro;
    function mode_2(){
      document.getElementById("intro_mode_2").scrollIntoView();
    }
  </script>
{%endblock%}

{%block title%}
    户外建筑自动识别系统
{%endblock%}
{%block navbar%}
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle",data-toggle="collapse" data-target =".navbar-collpase">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"> &emsp;&emsp;&emsp;&emsp;</a>
    </div>

    <div class="navbar-header">
        <button type="button" class="navbar-toggle",data-toggle="collapse" data-target =".navbar-collpase">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('home')}}"><font color="white">户外建筑自动识别系统</font></a>
    </div>

    <div class="navbar-header">
        <button type="button" class="navbar-toggle",data-toggle="collapse" data-target =".navbar-collpase">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><div style=""><font size="4" color="#00FFFF">
            项目介绍
        </font></div></a>
    </div>
</div>
{%endblock%}

{%block page_content%}
  <div class="container projects">
      <br><br><br><br>
      <div class="projects-header page-header">
        <h2 class="margin-bottom-15" align="center">
          <a class="myheade" style="color: black; font-size:85px;" >Guone</a>
        </h2>
        <br>
        <p align="center"><font size="4" color="gray">是什么？</font></p>
      </div>

      <div class="container" style="" align="center">
        <br><br>
        <font color="gray" size="5">
          <font class="myheade" style="font-size: 25px; color: gray;">Guone</font>
          <font size="5" color="gray"> 以 Guo+one 命名， </font>
          <font size="5" color="gray"> 是一个较为简单的户外建筑自动识别系统</font><br><br>
          <font size="5" color="gray"> 本科毕设作品，仅为学习使用，支持<a onclick="mode_1();">图像分类</a>和<a onclick="mode_2();">目标检测</a>两种模式</font>
        </font>
        <br><br><br>
        <button class="btn btn-lg btn-primary btn-shadow" onclick="intro();">点击查看详情</button>
      </div>

      <br><br><br><br><br><br><br><br>
      <div class="projects-header page-header" id="intro_mode_1">
        <br>
        <h2 class="margin-bottom-15" align="center">
          <font size="7">单个建筑图像分类</font>
        </h2>
        <p align="center"><font size="4" color="gray">目前仅可识别以下10种建筑物</font></p></div>
      <div class="row">
        <p align="center">
        <div class="col-sm-12 col-md-6 col-lg-2">
          <img class="lazy" src="{{url_for('static',filename='intro/1/1.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-建筑学院</a>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/2.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-南门</a>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/3.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-图书馆</a>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/4.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-西门</a>
              </h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/5.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-西阶</a>
              </h3>
          </div>
        </div></p>
        </div>
      <div class="row">
        <p align="center">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/6.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-南阶</a>
              </h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
          <img class="lazy" src="{{url_for('static',filename='intro/1/7.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-教学大楼</a>
              </h3>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/9.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-逸夫楼</a>
              </h3>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/10.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-文体馆</a>
              </h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/1/11.JPG',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>建大-校史馆</a>
              </h3>
          </div>
        </div></p></div>
      <br><br><br>
      <div class="projects-header page-header" id="intro_mode_2">
        <h2 class="margin-bottom-15" align="center">
          <font size="7">多个建筑目标检测</font>
        </h2>
        <p align="center"><font size="4" color="gray">目前仅可检测以下5类建筑物</font></p></div>
      <div class="row">
        <p align="center">
        <div class="col-sm-12 col-md-6 col-lg-2">
          <img class="lazy" src="{{url_for('static',filename='intro/2/1.jpg',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>Apartment</a><br><small>建大-研究生公寓</small>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/2/2.jpg',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>TennisCourt</a><br><small>建大-网球场</small>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/2/3.jpg',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>StadiumPodium</a><br><small>建大-体育馆主席台</small>
              </h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/2/4.jpg',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>GongKeBuilding</a><br><small>建大-工科楼</small>
              </h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <img class="lazy" src="{{url_for('static',filename='intro/2/5.jpg',_external=True)}}" height="130"></a>
            <div class="caption">
              <h3 align="center">
                  <a>Chimney</a><br><small>大烟囱</small>
              </h3>
          </div>
        </div></p>
        </div>
  </div>
    {%block footer%}
        <div id="footer-wrapper">
        <section id="footer" class="container">
            <div class="row">
                <div class="12u">
                    <div id="copyright">
                        <ul class="links">
                            <p><font color="" size="3">Copyright &copy;<a target="_blank" href="#">Guone项目</a>保留所有权利  |  二零一八年四月</p></font>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {%endblock%}
{%endblock%}










