{% extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block head%}
{{super()}}
{%endblock%}

{%block styles%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/templatemo_style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_log.css')}}">

<style type="text/css">
body { background-image:url({{url_for('static',filename='bg/bg1.jpeg')}});background-position: 40% 0px; ;font-family: "微软雅黑";font-weight: ;font: normal 60% Helvetica, Arial,sans-serif 900;}
</style>

{%endblock%}

{%block scripts%}
{{super()}}
<script type='text/javascript'>
$(function(){
  $('img#recaptcha').on('click', function(){
  $(this).attr('src', ($(this).attr('src'))+'?'+Math.random())
})
});
</script>
{%endblock%}

{%block title%}
欢迎登录
{%endblock%}

{%block page_content%}
<div>
  <div class="login_logo">
    <br><br><br>
    <p class="myheade">Guone</p><br>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-12">
        <br>
        <div align="center">
          <font size="4">登 录</font>
        </div>
      </div>
      <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" method="POST">
        <div class="form-group">
          <div class="col-md-12">
            <div class="control-wrapper">
              {{ form.hidden_tag()}}
              {{wtf.form_field(form.username)}}
              {{wtf.form_field(form.password)}}
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="col-md-6">
            <div class="control-wrapper">
              {{ form.hidden_tag()}}
              {{wtf.form_field(form.recaptcha,class="form-control")}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="control-wrapper">
              &nbsp
            </div>
            <div class="control-wrapper">
              <img id='recaptcha' class="text-right pull-right" src="{{url_for('generate_code')}}"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="control-wrapper">
            {{ form.hidden_tag()}}
            {{wtf.form_field(form.Submit,class="btn btn-info")}}
            <a href="{{ url_for('forgot')}}" class="text-right pull-right"><font size="3">密码忘了? 戳我&nbsp&nbsp</font></a>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="text-center">
            <h4>还没账号？<a href="{{url_for('register')}}" class="templatemo-create-new">猛击注册一个新账号<i class="fa fa-arrow-circle-o-right"></i></a>
            </h4>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}

